#navitem1, #navitem2, #navitem3
{
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    margin: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#navitem1 a
{
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#navitem2 a,#navitem3 a
{
    text-decoration: none;
    color: white;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#navbarID
{
    height: 100px;
}


.LogoImg
{
    width: 200px;
    height: 70px;
}