.loginDivContainer {
    position: relative;
    z-index: 100;
    width: 280px;
    height: 500px;
    /* border: 2px solid black; */
    border: 4px solid rgb(255 255 255 / 25%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    backdrop-filter: blur(20px);
}


.childlogindiv
{
    /* border: 2px solid red; */
    width: 100%;
    border-radius: 5px;
}



.profImgOuterBox
{
    height: 80%;
    /* border: 2px solid purple; */

    display: flex;
    align-items: center;
    justify-content: center;
}


.userContainer
{
    width: 100%;
    height: 20%;
}


.userContainer h2
{
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;

    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 8px;
}



.optionContainer ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.optionItem
{
    width: 214px;
    height: 40px;
    /* border: 2px solid blue; */
    margin: 7px;
    display: flex;
    flex-direction: row;
}



.optionItem:hover
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    transform: scale(1.08);
    transition: ease-in-out 0.3s;
    border-radius: 10px;
}


.optionItem-name
{
    color: white;
    width: 175px;


    display: flex;
    flex-direction: row;
    justify-content: center;
}



.optionItem-name:hover
{
    color: black;
}


.optionItem-name h2
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}



.optionItem img
{
    width: 30px;
    height: 30px;
}


.profImgContainer
{
    width:130px;
    height: 130px;
    /* border: 2px solid purple; */
}


.profImgContainer img
{
    border-radius: 100px;
}



.optionImageContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}