nav
{
    /* background-color: rgba(53,58,64,255); */
    /* background-image: transparent; */
    /* background-color: rgba(255, 255, 255, .2); */
    background: linear-gradient(to right, rgb(17, 24, 39), rgb(75, 85, 99));
    /* background-color: rgb(35, 35, 35); */
    backdrop-filter: blur(20px);
    height: 78px;
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 0.9fr 4fr 2fr;
}


nav .logoContainer
{
    color: white;
    /* background-color: aliceblue; */
    height: 78px;
}


nav .logoContainer img
{
    width: 100%;
    height: 100%;
}


nav .tabContainers
{
    color: rgba(249,252,252,255);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 78px;
}


nav .tabContainers ul
{

    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}


nav .tabContainers ul li
{
    box-sizing: border-box;
    font-size: 20px;
    /* font-style: italic; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* background-color: azure; */
    padding: 10px;
    margin-left: 10px;
    margin-right: 5px;
    transition: ease-in .15s;
}


nav .tabContainers ul li:hover
{
    color: rgb(101, 78, 250);
    cursor: pointer;
}



.activeTab
{
    color: rgb(101, 78, 250);
}

nav .tabContainers ul li:active
{
    background-color: grey;
    color: black;
}





.container {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
  }
  
  button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    height: 30px;
  }
  
  .reg {
    color: white;
    background-color: rgba(104, 85, 224, 1);
    border-radius: 5px;
  }
  
  .log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
    border-radius: 5px;
  }
  
  button:hover {
    color: white;
    /* width:; */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }